<form id="productForm">
        <label for="titulo">Titulo del producto</label>
        <input type="text" id="titulo" name="titulo">
        <label for="description">Descripci贸n del producto</label>
        <input type="text" id="description" name="descripci贸n">
        <label for="code">C贸digo del producto</label>
        <input type="text" id="code" name="codigo">
        <label for="price">Precio del producto</label>
        <input type="number" id="price" name="precio">
        <label for="status">Status del producto</label>
        <input type="text" id="status" name="estado">
        <label for="stock">Stock del producto</label>
        <input type="number" id="stock" name="stock">
        <label for="category">Categoria del producto</label>
        <input type="text" id="category" name="categoria">
        <button type="button"  id={{this.id}} class="createProButton" onclick="createProduct()">Crear Producto</button>
</form>

<div id="message" style="margin-top: 10px;"></div> 

<div>
<a href="/products"><button>Volver a Productos</button></a>
</div>

<script>
    function createProduct() {
        const form = document.getElementById('productForm');
        const productData = {
            title: form.titulo.value,
            description: form.description.value,
            code: form.code.value,
            price: form.price.value,
            status: form.status.value,
            stock: form.stock.value,
            category: form.category.value
        };

        fetch(`/createProduct`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(productData)
        })
        .then(response => response.json())
        .then(data => {
            const messageElement = document.getElementById('message');
            if (data.status === 'success') {
                messageElement.textContent = 'Producto creado exitosamente!';
                messageElement.style.color = 'green';
            } else {
                messageElement.textContent = data.error || 'Error al crear el producto.';
                messageElement.style.color = 'red';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            const messageElement = document.getElementById('message');
            messageElement.textContent = 'Error en la comunicaci贸n con el servidor.';
            messageElement.style.color = 'red';
        });
    }
</script>

