<h2>Recuperar Contraseña</h2>
<form action="/passforgotten" method="POST">
    <label for="email"> Introduzca su Correo Electronico:</label>
    <input type="email" name="email" required>
    <button type="submit">Enviar Correo de recuperación</button>
</form>