<h2>Restaurar Contrase単a</h2>
<form>
    <label for="newpass"> Introduzca su nueva contrase単a</label>
    <input type="newpass" name="newpass" required>
    <label for="confirmnewpass"> Confirme su nueva contrase単a</label>
    <input type="confirmnewpass" name="confirmnewpass" required>

    <button type="submit">Actualizar contrase単a</button>
</form>