<div>
    <input type="text" id="messageInput" placeholder="Escribe un mensaje">
    <button id="boton" onclick="sendMessage()">Enviar</button>
</div>

<div id="messageList"></div>

<div>
<a href="/products"><button>Ir a Productos</button></a>
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="../public/js/index.js"></script>

